In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_dir=os.listdir('data/')
data_dir[0]

'contaminated-0000.jpg'

In [3]:
len(data_dir)

701

In [4]:
new_df=pd.DataFrame(columns=['image_name','class'])

In [5]:
image_name=[]
classes=[]
for images in data_dir:
    #print()
    if(images.startswith('c')==True):
        image_name.append(images)
        classes.append('Contaminated Water')
    else:
        image_name.append(images)
        classes.append('Normal Water')

In [6]:
len(classes)

701

In [7]:
new_df['image_name']=image_name
new_df['class']=classes

In [8]:
new_df.head()

              image_name               class
0  contaminated-0000.jpg  Contaminated Water
1  contaminated-0001.jpg  Contaminated Water
2  contaminated-0002.jpg  Contaminated Water
3  contaminated-0003.jpg  Contaminated Water
4  contaminated-0004.jpg  Contaminated Water

In [14]:
train_val=new_df.iloc[50:600]
test1=new_df.iloc[600:]
test2=new_df.iloc[0:50]

In [15]:
train_val.head()

               image_name               class
50  contaminated-0050.jpg  Contaminated Water
51  contaminated-0051.jpg  Contaminated Water
52  contaminated-0052.jpg  Contaminated Water
53  contaminated-0053.jpg  Contaminated Water
54  contaminated-0054.jpg  Contaminated Water

In [22]:
frames=[test1,test2]
test_final=result = pd.concat(frames)

In [23]:
test_final

                image_name               class
600         water-0600.jpg        Normal Water
601         water-0601.jpg        Normal Water
602         water-0602.jpg        Normal Water
603         water-0603.jpg        Normal Water
604         water-0604.jpg        Normal Water
605         water-0605.jpg        Normal Water
606         water-0606.jpg        Normal Water
607         water-0607.jpg        Normal Water
608         water-0608.jpg        Normal Water
609         water-0609.jpg        Normal Water
610         water-0610.jpg        Normal Water
611         water-0611.jpg        Normal Water
612         water-0612.jpg        Normal Water
613         water-0613.jpg        Normal Water
614         water-0614.jpg        Normal Water
615         water-0615.jpg        Normal Water
616         water-0616.jpg        Normal Water
617         water-0617.jpg        Normal Water
618         water-0618.jpg        Normal Water
619         water-0619.jpg        Normal Water
620         water-0620.jpg        Normal Water
621         water-0621.jpg        Normal Water
622         water-0622.jpg        Normal Water
623         water-0623.jpg        Normal Water
624         water-0624.jpg        Normal Water
625         water-0625.jpg        Normal Water
626         water-0626.jpg        Normal Water
627         water-0627.jpg        Normal Water
628         water-0628.jpg        Normal Water
629         water-0629.jpg        Normal Water
..                     ...                 ...
20   contaminated-0020.jpg  Contaminated Water
21   contaminated-0021.jpg  Contaminated Water
22   contaminated-0022.jpg  Contaminated Water
23   contaminated-0023.jpg  Contaminated Water
24   contaminated-0024.jpg  Contaminated Water
25   contaminated-0025.jpg  Contaminated Water
26   contaminated-0026.jpg  Contaminated Water
27   contaminated-0027.jpg  Contaminated Water
28   contaminated-0028.jpg  Contaminated Water
29   contaminated-0029.jpg  Contaminated Water
30   contaminated-0030.jpg  Contaminated Water
31   contaminated-0031.jpg  Contaminated Water
32   contaminated-0032.jpg  Contaminated Water
33   contaminated-0033.jpg  Contaminated Water
34   contaminated-0034.jpg  Contaminated Water
35   contaminated-0035.jpg  Contaminated Water
36   contaminated-0036.jpg  Contaminated Water
37   contaminated-0037.jpg  Contaminated Water
38   contaminated-0038.jpg  Contaminated Water
39   contaminated-0039.jpg  Contaminated Water
40   contaminated-0040.jpg  Contaminated Water
41   contaminated-0041.jpg  Contaminated Water
42   contaminated-0042.jpg  Contaminated Water
43   contaminated-0043.jpg  Contaminated Water
44   contaminated-0044.jpg  Contaminated Water
45   contaminated-0045.jpg  Contaminated Water
46   contaminated-0046.jpg  Contaminated Water
47   contaminated-0047.jpg  Contaminated Water
48   contaminated-0048.jpg  Contaminated Water
49   contaminated-0049.jpg  Contaminated Water

[151 rows x 2 columns]

In [11]:
test.head()

         image_name         class
600  water-0600.jpg  Normal Water
601  water-0601.jpg  Normal Water
602  water-0602.jpg  Normal Water
603  water-0603.jpg  Normal Water
604  water-0604.jpg  Normal Water

In [12]:
print(train_val.shape,test.shape)

(600, 2) (101, 2)

In [24]:
train_val.to_csv('Train_v1.csv',index=None)
test_final.to_csv('Test_v1.csv',index=None)