In [143]:
import pandas as pd
import numpy as np
import os

In [144]:
data_dir='data/'

In [145]:
len(data_dir)

5

In [146]:
new_df=pd.DataFrame(columns=['image_name','class'])

In [147]:
def to_class(dir_name):
    new_df=pd.DataFrame(columns=['image_name','class'])
    image_name=[]
    classes=[]
    for images in os.listdir(os.path.join(data_dir+dir_name)):
        #print()
        if(images.startswith('c')==True):
            image_name.append(images)
            classes.append('Contaminated Water')
        else:
            image_name.append(images)
            classes.append('Normal Water')
    new_df['image_name']=image_name
    new_df['class']=classes
    return new_df
    del new_df

In [148]:
train_df=new_df
test_df=new_df
val_df=new_df

In [149]:
test_df=to_class('test')
test_df.head()

              image_name               class
0  contaminated-0000.jpg  Contaminated Water
1  contaminated-0001.jpg  Contaminated Water
2  contaminated-0002.jpg  Contaminated Water
3  contaminated-0003.jpg  Contaminated Water
4  contaminated-0004.jpg  Contaminated Water

In [150]:
train_df=to_class('train')
train_df.head()

              image_name               class
0  contaminated-0070.jpg  Contaminated Water
1  contaminated-0071.jpg  Contaminated Water
2  contaminated-0072.jpg  Contaminated Water
3  contaminated-0073.jpg  Contaminated Water
4  contaminated-0074.jpg  Contaminated Water

In [151]:
val_df=to_class('val')
val_df.head()

              image_name               class
0  contaminated-0050.jpg  Contaminated Water
1  contaminated-0051.jpg  Contaminated Water
2  contaminated-0052.jpg  Contaminated Water
3  contaminated-0053.jpg  Contaminated Water
4  contaminated-0054.jpg  Contaminated Water

In [154]:
train_df.to_csv('train_v1.csv')
test_df.to_csv('test_v1.csv')
val_df.to_csv('val_v1.csv')