In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_dir=os.listdir('data/')
data_dir[0]

'contaminated-0000.jpg'

In [3]:
len(data_dir)

701

In [4]:
new_df=pd.DataFrame(columns=['image_name','class'])

In [5]:
image_name=[]
classes=[]
for images in data_dir:
    #print()
    if(images.startswith('c')==True):
        image_name.append(images)
        classes.append('Contaminated Water')
    else:
        image_name.append(images)
        classes.append('Normal Water')

In [6]:
len(classes)

701

In [7]:
new_df['image_name']=image_name
new_df['class']=classes

In [8]:
new_df.head()

              image_name               class
0  contaminated-0000.jpg  Contaminated Water
1  contaminated-0001.jpg  Contaminated Water
2  contaminated-0002.jpg  Contaminated Water
3  contaminated-0003.jpg  Contaminated Water
4  contaminated-0004.jpg  Contaminated Water

In [14]:
train_val=new_df.iloc[50:600]
test1=new_df.iloc[600:]
test2=new_df.iloc[0:50]

In [15]:
train_val.head()

               image_name               class
50  contaminated-0050.jpg  Contaminated Water
51  contaminated-0051.jpg  Contaminated Water
52  contaminated-0052.jpg  Contaminated Water
53  contaminated-0053.jpg  Contaminated Water
54  contaminated-0054.jpg  Contaminated Water

In [18]:
test_final=test1+test2

In [11]:
test.head()

         image_name         class
600  water-0600.jpg  Normal Water
601  water-0601.jpg  Normal Water
602  water-0602.jpg  Normal Water
603  water-0603.jpg  Normal Water
604  water-0604.jpg  Normal Water

In [12]:
print(train_val.shape,test.shape)

(600, 2) (101, 2)

In [13]:
train_val.to_csv('Train_v1.csv',index=None)
test.to_csv('Test_v1.csv',index=None)